<ion-view view-title="选择首发">
    <ion-content class="sroll-content ionic-sroll has-header">
        <div class="firstMain">
            <div class="lordTeam">
                <h1>上海梦之队</h1><small>主队</small>
                <span class="lesser">还缺1人</span>
                <div class="lordhd">
                    <ul class="list">
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            11号
                        </li>
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            09号
                        </li>
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            08号
                        </li>
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            07号
                        </li>
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            09号
                        </li>
                    </ul>
                </div>
            </div>
            <div class="lordTeam">
                <h1>虹口足球场队</h1><small>副队</small>
                <span class="lesser">还缺1人</span>
                <div class="lordhd">
                    <ul class="list">
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            11号
                        </li>
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            09号
                        </li>
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            08号
                        </li>
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            07号
                        </li>
                        <li class="item item-checkbox item-checkbox-right">
                            <label class="checkbox">
                                <input type="checkbox" value="on">
                            </label>
                            09号
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="padding begin-game">
            <button class="button button-full button-blue" ng-click="goGame()">确定首发球员</button>
        </div>
    </ion-content>
</ion-view>
