.game .score{
  text-align:center;
}
.game .left-team{
  float:left;
  width:50%;
}
.game .right-team{
  float:right;
  width:50px;
}
.game .player{
  width:50px;
  height:50px;
  border:1px solid #F00;
  text-align:center;
  line-height:50px;
}
.game .panel{
  overflow:hidden;
}
.game .timer{
  text-align:center;
}
.game .event{
  text-align:center;
}
.game .cancel{
  background-color:#999;
}
.game .command{
  border:1px solid #F00;
  text-align:center;
}