/*admin-login*/
body, .ionic-body {background:#f6f6f6;font-family: "Arial","Microsoft YaHei","SimHei","简体",sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,input, button, select, textarea,span{font-family: "Arial","Microsoft YaHei","SimHei","简体",sans-serif;}
input, select, textarea{background: transparent!important;}
a,a:hover{text-decoration: none;}
.hidden{display:none}
.logo{margin:25px 0 1px;}
.logo h3{text-align: center;font-size: 24px;color: #666;}
.color6 {padding:0 10px;}
.color6 span,.color6 input{color: #666;font-size: 16px;}
.color6 input,.color9 input{color: #333;}
.logo .icon:before{font-size: 40px;}
.item input::-webkit-placeholder {color: #eee;font-size: 16px;}
.change-bd{border-bottom: 1px solid #ebebeb;}
.button{border-radius: 5px;}
.button-blue,.button-blue.activated,.button-blue:hover{background-color: #006dd9;color: #fff;border:none;height: 22px;font-size: 16px;}
.button.buttons-default2,.button.buttons-default2.activated,.button.buttons-default2:hover{background-color: #fff;border:1px solid #ebebeb;line-height: 22px;color: #333;font-size: 16px;margin:0;margin-top: -8px;}
.waited{display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
  box-sizing: border-box;
  padding: 5px;
  width: 100%;
  height: 44px;
  border-width: 0;
  border-style: solid;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ebebeb;
  bottom: 44px;display: block;
}
.popu{display: block;position: absolute;top:50%;left: 50%;width: 40%;min-height: 40px;background: rgba(0,0,0,0.5);border-radius: 5px;text-align: center;margin-left: -20%;margin-top: -20px;}
.popu span{color: #fff;line-height: 40px;}
/*add-avatar*/
.bar-ava{background: #333;}
.bar-ava .button.button-icon:before{font-size: 24px;}
.bar-ava .title{text-align: center!important;}
.bar-ava .button,.bar-ava .title,.batter,.bar-matches .title{color: #fff;}
.color9 span{color: #999;}
.logo .button-add{margin:0 auto;display: block;width:80px;height:80px;border-radius: 50%;padding:0;border:none;position: relative;}
.button-add img{width: 100%;}
.batter{position: absolute;bottom: 0px;left: 0;display: block;width: 100%;line-height: 28px;font-size: 16px;}
/*比赛积分*/
.modify-score{width:80px;display:block;}
.bar-matches,.gameNode{background:#292744;}
.bar-matches .button.button-icon:before,.scale .col-10{font-size: 24px;color: #fff;}
.bar .correct,.bar .correct.activated,.bar .correct:hover,.bar .cancel,.bar .cancel.activated,.bar .cancel:hover{background: transparent;border: none;color: #0078ff;font-size: 16px;}
.gameNode{min-width: 320px;margin-bottom: 20px;}
.scale .col-10{font-weight: bold;font-size: 30px;margin-top:3%;text-align:center;line-height:35px;}
.scores,.oppant{font-size: 28px;color: #333;width: 50px;height:50px;background: url(../img/score_bg.png) no-repeat;line-height: 50px;text-align: center;float: right;background-size: 100% 100%}
.score-name{text-align: right;font-size: 14px;color: #999;font-weight: bold;float: right;display: block;width: 100%; white-space: normal; overflow: hidden; height: 30px; line-height: 30px; }
.oppant+.score-name{text-align: left;}
/*s-end*/
.playerNum{padding: 10px 0!important;}
.ballNum .fl,.ballNum .fr{min-height: 296px;width: 40%;}/*10个是620px;*/
.ballNum,.ballNum_event,.gm-data2{content:"";display:block;clear:both;overflow:hidden; width:100%; }
.fl,.oppant{float: left;}
.fr{float: right;}
.team-lft{position: relative;height: 100%;}
.team-lft .baller{height: 50px;width: 50px;border:1px solid rgba(255,255,255,0.2);border-radius: 50%;line-height: 50px;text-align: center;font-size: 24px;color: #fff;position: absolute;left: 50%;margin-left: -20px;top:0;}
.team-lft .baller:nth-child(1),.team-lft .baller:nth-child(6),.team-lft .baller:nth-child(11){ top:0; }
.team-lft .baller:nth-child(2),.team-lft .baller:nth-child(7),.team-lft .baller:nth-child(12){ top:60px; }
.team-lft .baller:nth-child(3),.team-lft .baller:nth-child(8),.team-lft .baller:nth-child(13){ top:120px; }
.team-lft .baller:nth-child(4),.team-lft .baller:nth-child(9),.team-lft .baller:nth-child(14){ top:180px; }
.team-lft .baller:nth-child(5),.team-lft .baller:nth-child(10),.team-lft .baller:nth-child(15){ top:240px; }
.team-lft .baller:nth-child(6),.team-lft .baller:nth-child(7),.team-lft .baller:nth-child(8),.team-lft .baller:nth-child(9),.team-lft .baller:nth-child(10){ left:130px; }
.team-lft .baller:nth-child(11),.team-lft .baller:nth-child(12),.team-lft .baller:nth-child(13),.team-lft .baller:nth-child(14),.team-lft .baller:nth-child(15){ left:197px; }
.team-lft.fr .baller:nth-child(6),.team-lft.fr .baller:nth-child(7),.team-lft.fr .baller:nth-child(8),.team-lft.fr .baller:nth-child(9),.team-lft.fr .baller:nth-child(10){ left:-15px; }
.team-lft.fr .baller:nth-child(11),.team-lft.fr .baller:nth-child(12),.team-lft.fr .baller:nth-child(13),.team-lft.fr .baller:nth-child(14),.team-lft.fr .baller:nth-child(15){ left:-82px; }
.begin-game,.begin-game2{background-color: #fff;height: auto;width: 100%;}
.begin-game>.padding{width: 100%;}
.begin-game>.padding .button{height: 47px;}
.sTime{font-size: 20px;color: #333;padding: 5px 0;text-align: center;}
.button-red,.button-orange{background-color: #d90000;line-height: 22px;color: #fff;font-size: 16px;}
.button-orange{background-color: #d93600;}
.cause{border-top: 1px solid rgba(255,255,255,0.2);}
.case{max-height: 40px;line-height: 19px;display: inline-block;width: 83%;text-overflow:ellipsis;overflow: hidden;white-space: normal;color: #fff;font-size:13px;}
.cause .button-clear{font-size: 12px;min-height: 36px;float: right;color: #0078ff;margin-top: -5px;  line-height: 32px;padding: 0;}
.cause .button-clear:after{top:0;}
.cause button i{color: #0078ff;}
.cause button .ion-reply:before{line-height: 33px;}
/*点击11号*/
.step2{display: none;} 
.team-human .foulShot,.team-human .goalBall{position: relative;width:50%;}
.scoItm,.attack{display: block;border:1px solid rgba(255,255,255,0.2);border-radius: 20px;line-height: 36px;font-size: 16px;color: #fff;width: 96%;text-decoration: none;text-align: center;position: absolute;left:0;display: none;}
.team-human .foulShot .scoItm,.team-human .goalBall .attack,.team-human .step2{display: block;}
.fl .foulShot a{display: block;float: left;}
.fl .foulShot a:nth-child(2n){display: block;float: right;}
.ballNum .fl,.ballNum .fr,.ballNum>.team-human:nth-child(1){width: 108px;}
.ballNum_event,.tm-logo{width: 100%;}
.ballNum>.team-human.w200{width:200px;padding-right: 12px;}
.team-human .baller,.team-human .goalBall .scoItm{display: none;}
.ballNum .ballNum_event .fr,.ballNum .ballNum_event .fl{width: 50%;}
.ballNum_event .foulShot .scoItm:nth-child(1),.ballNum_event .goalBall .attack:nth-child(1){top:0;}
.ballNum_event .foulShot .scoItm:nth-child(2),.ballNum_event .goalBall .attack:nth-child(2){top:50px;}
.ballNum_event .foulShot .scoItm:nth-child(3),.ballNum_event .goalBall .attack:nth-child(3){top:100px;}
.ballNum_event .foulShot .scoItm:nth-child(4),.ballNum_event .goalBall .attack:nth-child(4){top:150px;}
.ballNum_event .foulShot .scoItm:nth-child(5),.ballNum_event .goalBall .attack:nth-child(5){top:200px;}
.ballNum_event .foulShot .shotted{background-color: #fff;color: #333;}
.ballNum_event .foulShot:last-child a{left:3px;}
 /*罚球不中*/
.team-human .baller.select-man{border:none;font-size: 28px;display: block;}
.team-human .goalBall .shotted i{margin-top: -2px;margin-left: 2px;opacity: 0}
.team-human .goalBall .shotted.nxtPort{border:none;background-color: transparent;color: #fff;display: block;}
.team-human .goalBall .shotted.nxtPort i{opacity: 1;}
.team-human .goalBall .shotted.nxtPort .button-icon.icon:before{font-size:16px;color: #fff; }
/*选择首发球员*/
.lordTeam,.findy{padding: 10px 0;}
.lordTeam h1{font-size: 16px;font-weight: bold;color: #333;display: inline-block;padding: 0 10px;}
.lordTeam small,.lesser{font-size:12px;color: #999;}
.lesser{float: right;color: #f00;margin-right: 10px;}
.lordhd .item,.gameNews input,.gameNews  textarea,.ballName input{color: #333;font-size: 16px;}
/*添加赛事信息*/
.gameNews{padding-top: 30px;}
.gameNews>.list{margin-bottom: 10px;}
.item{border-color: #ebebeb;border-width: 1px;}
.bookes textarea{min-height: 50px;padding: 10px 20px 10px 10px;width:67%;}
.gameNews input,.gameNews  textarea,.ballName input{line-height: 20px;}
.gameNews span,.ballName span{color: #666;font-size: 16px;}
.ballName{margin-top: -1px;}
.ballName .item,.ballName{border:1px solid #ebebeb;}
.againAd{background-color: #fff;border-bottom: 1px solid #ebebeb;display: block;width: 100%;color: #006dd9;text-align: left;line-height: 46px}
.againAd .ion-android-add:before{color: #006dd9;margin-right: 7px;}
.label-contain{display: block;
  padding-top: 2px;
  padding-left: 0;
  height: 34px;
  color: #333;
  width: 100%;
  vertical-align: middle;
  font-size: 16px;
  line-height: 34px; 
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 190px;
  -moz-box-flex: 1;
  -moz-flex: 1 0 190px;
  -ms-flex: 1 0 190px;
  flex: 1 0 190px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
    }
.item-input input{
  -webkit-flex: 1 0 190px;
  -moz-box-flex: 1;
  -moz-flex: 1 0 190px;
  -ms-flex: 1 0 190px;
  flex: 1 0 190px;
  text-overflow:ellipsis;
  overflow: hidden;
  white-space: nowrap;
    }
/*赛事列表*/
.race-List:last-child{padding-bottom: 10%;}
.hd-white{ margin-top: -2px; }

.main_list .list {top:44px;}
.unLoading{display: block;width: 100%;height:30px;line-height: 30px;text-align: center;font-size: 14px;background-color: #ffe599;color: #ffb24c;}
.race-List .row + .row{margin:0;padding: 10px;}
.matchMain,.Undata{background-color: #f6f6f6;padding: 10px;}
.matchMain:nth-child(2n){background-color: #fff;}
.matchMain>.col,.armybd,.ft-group .row + .row{padding: 0;}
.matchMain>.col img{display: block;width: 80px;height: 80px;border-radius: 50%;margin:0 auto 10px;}
.matchMain>.col p,.matchMain span{font-size: 15px;color: #333;width: 100%;text-align: center;text-overflow:ellipsis;overflow: hidden;white-space: nowrap;  margin-bottom: 0;}
.ratio>.col{font-size: 22px;color: #333;line-height: 35px;text-align: center;padding: 0;}
.matchMain span{color: #238c00;display: block;}
.endMain span,.Undata span{color: #d90000;}
.unStart span{color: #007fff;}
.dateTitle,.dateTd{background-color: #666;font-size: 14px;color: #fff;line-height: 30px;height: 30px;text-align: center;margin-bottom: 0;}
h5{display: block;width: 100%;line-height:25px;color: #333;margin: 0;text-align: center;}
.unStart .ratio>.col,.myTeam .item-content{font-size: 16px;}
.unStart .ratio>.col i{margin-right: 5px;}
/*我的球队*/
.myTeam .item-content{padding: 26px 50px 26px 16px;color: #333;font-weight: bold;}
.myTeam .item .badge{right: 10px;top:24px;font-size: 14px;color: #999;font-weight: normal;}
/*我的球员*/
.myPlay,.myPlay2{padding-left: 70px;position: relative;min-height: 80px;  display: -webkit-box;border-bottom: 1px solid #ebebeb;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;}
.myPlay img,.myPlay2 img{max-width: 60px; border-radius: 50%; max-height: 60px;position: absolute;left: 16px;top: 16px;width: 100%;height: 100%;}
.myPlay2 img{left: 10px;}
.myPlay h2,.myPlay p,.myPlay2 p{font-size: 16px;color: #333;line-height: 58px;text-align: center;}
.myPlay2 p{width: 100%;line-height: 56px;padding-left: 20px;font-weight: bold;text-align: left;}
.myPlay2 span{float: right;}
.myPlay span,.myPlay2 span{font-size: 14px;color: #999;line-height: 58px;text-align: right;}
.socNum{position: absolute;display: block;left: 37px;bottom: 27px;line-height: 20px;color: #fff;width:18px;text-align: center;}
.item-lg img{max-width: 60px;max-height: 60px;position: absolute;left: 16px;top: 16px;width: 100%;height: 100%;}
/*统计数据*/
.headtum{background: #fff;border-bottom: 1px solid #ebebeb;padding: 0;}
.headtum .col{padding-bottom: 0;}
.headtum .col a{line-height: 37px;width: 80%;text-align: center;border-bottom: 2px solid #fff;font-size: 16px;color: #333;display: block;margin:0 auto;}
.headtum .col a.dataHd{color: #007cff;border-bottom-color: #007cff;}
.recordData .row + .row,.evntAll{margin:10px 0;}
.recordData .evntAll .row + .row,.ft-group .row + .row,.begin-game>.padding .row .col:last-child{margin:0;}
.groupes h5{color: #999;text-align: left;}
.armyAll{border:1px solid #ebebeb;padding: 8px;margin-bottom: 10px;background-color: #fff;}
.armyhd,.gm-data2{padding:0 0 0 5px;}
.armyhd span,.armybd span,.armyhd label{font-size: 12px;color: #999;}
.armyhd .name-baler{text-overflow:ellipsis; overflow: hidden;white-space: nowrap;float:left;width: 56%;}
.armyhd label{float: right;line-height: 20px;}
/* .armybd{padding: 0;} */
.armybd p{margin-bottom: 0;}
.evntAll .col,.armyhd label,.armyhd .name-baler{color: #333;}
.evntAll .col.col-20{max-width: 25%;-webkit-box-flex: 0;-webkit-flex: 0 0 25%;-moz-box-flex: 0;-moz-flex: 0 0 25%;-ms-flex: 0 0 25%;flex: 0 0 25%;text-align: center;}
.facted,.ft-group>.row:nth-child(2n){background: #fff;}
/*没网络*/
.noInte{position: absolute;top: 50%;margin-top:129px;left:0;width: 100%;}
.noInte img{width: 120px;height: 120px;display: block;margin:0 auto 10px;}
.noInte span,.noInte a{font-size: 16px;color: #999;display: block;text-align: center;width: 100%;}
.noInte a,.groupes h5,.evntAll .col,h5{font-size: 14px;}
  .platform-android .action-sheet-backdrop.active,.tm-logo .choosed a {
  background-color: rgba(0, 0, 0, 0.4); }
.platform-android .action-sheet {
    margin-left: 8px;
  margin-right: 8px; }
  .platform-android .action-sheet .action-sheet-title, .platform-android .action-sheet .button {
     text-align: center; 
     border-color: #d1d3d6; 
     font-size: 21px; 
     color: #007aff;  }
  .platform-android .action-sheet .action-sheet-title {
    font-size: 13px;
    padding: 16px;
    color: #8f8f8f; }
  .platform-android .action-sheet .button.active, .platform-android .action-sheet .button.activated {
    background: #e4e5e7; }
.platform-android .action-sheet-group {
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: #fafafa; }
.platform-android .action-sheet-cancel {
  display: block; }
.platform-android .action-sheet-has-icons .button {
  padding-left: 56px; }
@media screen and (max-height:667px){
  .begin-game{position: relative;bottom: 0;left: 0;}

 }
@media screen and (min-height:668px){
  ion-content>.scroll{position: absolute;top: 0;bottom: 0;width: 100%;margin-top: -1px;}
  .begin-game{position: absolute;bottom: 0;left: 0;}
  .noInte{top: 0;}
}
.add-player{ padding: 10px 0; width: 100%; margin:0 auto; font-size: 12px; color: #c8c8c8; text-align: center; }
.bench { display: inline-block; width: 100px; border-radius: 20px; border:1px solid rgba(255,255,255,0.2); font-size: 16px; color: #fff;  line-height:32px; margin-left: 10px; }
/*足球*/
.goals .col{border-radius: 10px;border:1px solid rgba(255,255,255,0.2);font-size: 30px;text-align: center;height: 125px;line-height: 113px;color: #fff;margin:40px 10px 0;}
.goals{min-height: 315px;}
.gameTm{display: block;color: #fff;text-align: center;font-size: 14px;height: 44px;line-height: 44px;background-color: #333;}
.chosed{margin-top: 20px;}
.chosed .label-contain{text-align: right;color: #333;font-size: 16px;padding-right: 10%;}
/*search*/
.search{padding: 10px;background-color: #333;}
.search div{background-color: #444;}
.item-bd{width: 100%;display: block;border-radius: 5px;position: relative;overflow: hidden;padding-right: 50px;}
.item-bd input{width:100%;font-size: 16px;color: #ccc;padding:6px 5px;height: 24px;line-height: 24px;display: inline-block;}
.findy{padding-top: 20px;}
.findy .item,.bar-ava .ft-title,.dateTd{background-color: transparent;}
.findy .checkbox input:before,.findy .checkbox-icon:before{background: #f6f6f6;}
.findy .checkbox input:checked:before,.findy .checkbox input:checked + .checkbox-icon:before{background:#387ef5;border-color: #387ef5;}
.search .ion-search:before{font-size: 26px;-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg);color: #ccc;}
.endNum{font-size: 14px;color: #999;display: block;width: 100%;padding: 5px 16px;}
.clickBtn{display: inline-block;width: 48px;line-height: 50px;text-align: center;height: 37px;position: absolute;right: 0;top: 0;}


.platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before {
  border-radius: 28px;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  border-width: 1px; }

.platform-android .checkbox-platform input:after, .platform-android .checkbox-platform .checkbox-icon:after, .checkbox-square input:after, .checkbox-square .checkbox-icon:after {
  border-width: 1px;
  top: 33%;
  left: 25%;
  width: 14px;
  height: 6px; }

  .pane, .view {
  background-color: #f6f6f6;
 }

/*game-2*/
/*team-list-2-2*/
.bar-ava .ft-title,.tm-logo>.col a{ border:none; }
.bar-ava .ft-title a,.begin-game>.padding .row .col:first-child,.curt-tm{ color: #0078ff; }
.bar .cancel,.bar .cancel.activated,.bar .cancel:hover{ color: #ccc; font-size: 14px; }
.dateTd{ border-top:1px solid #ebebeb; border-bottom:1px solid #ebebeb; }
.tm-logo>.col { position: relative; width:25%; float: left; height: 80px; margin-bottom: 10px; text-align: center; }
.tm-logo>.col a{ display: inline-block; width: 70px; height: 70px; border-radius: 50%; position: relative;}
.tm-logo>.col a:before{ font-size: 34px; line-height: 60px; color: #fff; }
.tm-logo>.col img{ max-height: 70px; max-width: 70px; width: 100%; position: absolute; top: 0;left: 0; border-radius: 50%; }
.tm-logo .choosed a:after{ content:""; display: block; width:15px; height: 30px; border-bottom:2px solid #fff; border-right:2px solid #fff; -webkit-transform:rotate(45deg); -ms-transform:rotate(45deg); -o-transform:rotate(45deg); -moz-transform:rotate(45deg); transform:rotate(45deg);position: absolute; top: 13px; left: 30px; }
.tm-logo .choosed img{ z-index: -1; }
.ft-group>.row,.ft-teamer .col-33{ text-align: center; font-size: 14px; }
.ft-group>.row,.ft-group>.row .col-33{ padding: 0; }
.ft-group>.row .col-33{ line-height: 36px; color: #707070; }
.ft-group>.row .col-33:nth-child(2),.dateTd{ color: #333; }
.ft-teamer .col-33 { width: 33.3333%; display: inline-block; min-width: 106px; }
.ft-teamer .col-33 a{ display: inline-block; width: 50px; height: 50px; border: 1px solid rgba(255,255,255,0.2); border-radius: 50%;   text-align: center;  font-size: 24px;  color: #fff; line-height: 50px; margin-bottom: 20px; }
.ft-teamer{ font-size: 0; margin-bottom: 20px; }
.curt-tm{ padding-bottom: 5px; border-bottom: 1px solid #0078ff; }
.score-name span{ display: inline-block; padding-top: 5px; height: 25px; line-height: 20px; overflow: hidden; }
.begin-game>.padding .row .col{ margin-right: 20px; }
.begin-game>.padding .row .col:first-child{ background: #fff; border:1px solid #0078ff; }
.container{ width: 300%; }
.container{ position: relative; overflow: hidden; clear:both; }
.container>div{ width: 33.3333334%; float: left; clear: none; display: inline-block; }
.gm-data2>p{ width: 50%; float: left; }
.gm-data2{ min-height: 105px; }






