<ion-view view-title="智慧赛事">
<ion-content>
  <div class="logo">
    <h3 class="title">智慧赛事</h3>
  </div>

  <div class="list">
    <div class="item color6">
      <label class="item-input change-bd">
        <span class="input-label">账号：</span>
        <input type="text" ng-model="loginData.account">
      </label>
      <label class="item-input">
        <span class="input-label">密码：</span>
        <input type="password" ng-model="loginData.password">
      </label>
    </div>
  </div>
  <div class="padding">
    <button class="button  button-full button-blue" ng-click="login()">登录</button>
  </div>
</ion-content>
</ion-view>

