<ion-view view-title="选择首发">
    <ion-content class="sroll-content ionic-sroll has-header">
        <div class="firstMain">
            <div class="lordTeam" ng-if="nowTeam.need">
                <h1>{{nowTeam.teamName}}</h1><small></small>
                <span class="lesser" ng-hide="max==selectCount">还缺{{max-selectCount}}人</span>
                <div class="lordhd">
                    <div class="list">
                    <ion-checkbox ng-repeat="player in nowTeam.players"
                                      ng-model="player.isFirst" 
                                      ng-checked="player.isFirst"
                                      class="item-checkbox-right"
                                      ng-change="countCheck(player)"
                                      ng-disabled="(selectCount>=max) && (!player.isFirst)">
                          {{ player.playerNumber+"号" }}
                        </ion-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding begin-game2">
            <button class="button button-full button-blue" ng-click="goGame()">确定首发球员</button>
        </div>
    </ion-content>
</ion-view>
